.bg{
    background-image: url('https://assets.telegraphindia.com/telegraph/f7f0e48a-062e-430e-b4ed-c699d4fc87fe.jpg');
    padding-left: 90px;
}
.container{
    height: auto;
    background-color: whitesmoke;
}